<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>時間</strong>
  <%= @diary.diary_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @diary.sentence %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>