<p id="notice"><%= notice %></p>

<p>
  <strong>総合</strong>
  <%= "#{@htb}点" %>
</p>

<p>
  <strong>体力</strong>
  <%= "#{@body}点" %>
</p>

<p>
  <strong>技術</strong>
  <%= "#{@technique}点" %>
</p>

<p>
  <strong>精神</strong>
  <%= "#{@heart}点" %>
</p>

<p>
  <strong>日にち</strong>
  <%= @diary.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>日記の内容：</strong>
  <%= @diary.sentence %>
</p>

<p>
  <strong>睡眠：</strong>
  <%= @diary.sleep %>
</p>

<p>
  <strong>食事：</strong>
  <%= @diary.meal %>
</p>

<p>
  <strong>運動：</strong>
  <%= @diary.motion %>
</p>

<p>
  <strong>勉強：</strong>
  <%= @diary.study %>
</p>

<p>
  <strong>アウトプット：</strong>
  <%= @diary.output %>
</p>

<p>
  <strong>今日・今週・今月の目標：</strong>
  <%= @diary.today_goal %>
</p>

<p>
  <strong>心の余裕：</strong>
  <%= @diary.margin %>
</p>

<p>
  <strong>疲労感：</strong>
  <%= @diary.tired %>
</p>

<p>
  <strong>リフレッシュ：</strong>
  <%= @diary.refresh %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>