<p id="notice"><%= notice %></p>

  <div class="htb-status">
    <div class="htb-body">
      <div class="body-status-name">
        <p>精神</p>
      </div>
      <div class="body-status-average">
        <img src="/assets/元気なハート.jpg" alt="精神" class="status-image">
        <div class="status-number">
          <%= "#{@heart}点" %>
        </div>
      </div>
    </div>
    <div class="htb-body">
      <div class="body-status-name">
        <p>技術</p>
      </div>
      <div class="body-status-average">
        <img src="/assets/技術.jpg" alt="技術" class="status-image">
        <div class="status-number">
          <%= "#{@technique}点" %>
        </div>
      </div>
    </div>
    <div class="htb-body">
      <div class="body-status-name">
        <p>体力</p>
      </div>
      <div class="body-status-average">
        <img src="/assets/走る人.jpg" alt="体力" class="status-image">
        <div class="status-number">
          <%= "#{@body}点" %>
        </div>
      </div>
    </div>
  </div>

  <ul class="show-list">
    <li class="show-number">
      <p>日にち：</p>
      <%= @diary.start_time.strftime("%Y年%m月%d日") %>
    </li>
    <li class="show-number">
      <p>日記：</p>
      <%= @diary.sentence %>
    </li>
    <li class="show-number">
      <p>睡眠：</p>
      <%= @diary.sleep %>
    </li>
    <li class="show-number">
      <p>食事：</p>
      <%= @diary.meal %>
    </li>
    <li class="show-number">
      <p>運動：</p>
      <%= @diary.motion %>
    </li>
    <li class="show-number">
      <p>勉強：</p>
      <%= @diary.study %>
    </li>
    <li class="show-number">
      <p>アウトプット：</p>
      <%= @diary.output %>
    </li>
    <li class="show-number">
      <p>今日・今週・今月の目標：</p>
      <%= @diary.today_goal %>
    </li>
    <li class="show-number">
      <p>心の余裕：</p>
      <%= @diary.margin %>
    </li>
    <li class="show-number">
      <p>疲労感：</p>
      <%= @diary.tired %>
    </li>
    <li class="show-number">
      <p>リフレッシュ：</p>
      <%= @diary.refresh %>
    </li>
  </ul>

  <div class="submit">
    <%= link_to '編集する', edit_diary_path(@diary), class: :btn_new %>
    <%= link_to '削除', diary_path(@diary), method: :delete, data: { confirm: '本当に削除しますか？' }, class: :btn_new %>
    <%= link_to 'もどる', root_path, class: :btn_new %>
  </div>