<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @diaries.sentence %>
</p>

<p>
  <strong>時間</strong>
  <%= @diaries.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @diaries.sentence %>
</p>

<%= link_to 'Edit', edit_diary_path(@diaries) %> |
<%= link_to 'Back', diaries_path %>