<!DOCTYPE html>
<html>
  <head>
    <title>Htbcheker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <div class="nav">
      <div class="header__bar">
        <h1><%= link_to 'ハテボチェッカー', root_path, class: "header-name"%></h1>
      </div>
      <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to "#{current_user.nickname}さん", "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :nav__btn %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: :nav__btn %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: :nav__btn %></li>
      <% end %>
      </ul>
    </div>
  </header>
    <%= yield %>
    <footer class="footer">
      <p class="footer-name">
        ハテボチェッカー 2021
      </p>
    </footer>
  </body>
</html>
